@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

body{
  background: black;
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif";
  text-align: center;
  min-width: fit-content;
}

